<!DOCTYPE html>
<html>

<%include ./1.ejs %>
 
<head>
 <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
  <table class="table table-hover">

    <h1><%= title %></h1>
    
    <br>
    <br>

    
   <tr>
      <td>번호</td>
      <td>제목</td>
      <td>작성자</td>
      <td>작성일</td>
      <td>별점</td>
   </tr>
   <%
      for(var i=0; i<rows.length; i++)
      {
         var oneItem=rows[i];
   %>
      <tr>
      <td><a href="/product/product_review_content/<%=oneItem.purchasenum%>"><%=oneItem.purchasenum%></a></td>
         <td><%=oneItem.title%></td>
         <td><%=oneItem.memberid%></td>
         <td><%=oneItem.reviewdate%></td>
         <td><%=oneItem.score%></td>
      </tr>
      <%
      }
      %>
</table>

  <br>
  <a href="/product/review_write/<%=productnum%>">글 쓰기</a>
  </body>
  </div>
</html>